* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  font-family: Arial, sans-serif;
}

.image-background{
    background-image: url(Images/placeholder.jpg);
    position: fixed; 
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(4px);
    overflow: hidden;
    transform: scale(1.1); 
    z-index: -1;
}

.body-container{
    position: relative;
    z-index: 1; 
    padding: 2rem;
    
}

.container-class{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.model-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 10px;
    width: max-content;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
}

.model-container:hover{
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.825);
}

.hidden {
  display: none !important;
}

.model-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 10px;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
}

.options-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.back-row {
  margin-top: 1rem;
}

button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.825);;
    transition: 0.5s;
}